{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	{{ app_name|default('AutoParts Pro') }}
	| Catalogue privé pièces auto
{% endblock %}
{% block body %}

<div class="container-fluid px-0">

	<main>
		
		{% include 'home/sections/_hero.html.twig' %}
		{% include 'home/sections/_nouveautes.html.twig' %}
		{% include 'home/sections/_partners.html.twig' %}
		
		{% include 'home/sections/_satisfaction.html.twig' %}

	</main>



</div>{% endblock %}

