{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
  {% if csvLocalExists is defined and not csvLocalExists %}
    <div class="alert alert-warning">
      CSV local non trouvé. Va dans l’admin FTP et clique sur <b>TEST/SYNC</b> pour télécharger le fichier.
    </div>
  {% endif %}

  {% include 'catalogue/_catalogue.html.twig' with {
    pageMode: 'all',
    pageTitle: 'Catalogue',
    newDays: 5
  } %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}




  <script>
    window.CATALOG_CONFIG = {
      csvUrl: "{{ csvUrl|e('js') }}",
      imagesBase: "{{ imagesBase|e('js') }}",
      pageMode: "all",
      newDays: 5,
      locale: "fr-FR",
      currency: "MAD"
    };
    console.log("CATALOG_CONFIG", window.CATALOG_CONFIG);
  </script>

  {# PapaParse est déjà dans base.html.twig chez toi -> ne pas le remettre #}
  <script src="{{ asset('js/catalogue.js') }}"></script>
{% endblock %}
